<!DOCTYPE html>
<!-- Based on Portfolio Case Study 1 -->

<html lang="en">
<head>
	<title>Schedule Comparison</title>
	<!-- Meta Tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="Webestica.com">
	<meta name="description" content="Bootstrap based Creative Agency Portfolio Theme">

	<!-- Favicon -->
	<link rel="shortcut icon" href="assets/images/favicon.ico">

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css2?family=Reenie+Beanie&family=Rubik:wght@400;500;700&family=Spartan:wght@400;700;900&display=swap" rel="stylesheet">

	<!-- Plugins CSS -->
	<link rel="stylesheet" type="text/css" href="assets/vendor/font-awesome/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="assets/vendor/bootstrap-icons/bootstrap-icons.css">
	<link rel="stylesheet" type="text/css" href="assets/vendor/animate/animate.min.css">
	<link rel="stylesheet" type="text/css" href="assets/vendor/glightbox/css/glightbox.css">

	<!-- Theme CSS -->
	<link rel="stylesheet" type="text/css" href="assets/css/robert_style.css">

</head>

<body>
	
<!-- Pre loader -->
<div class="preloader">
	<img class="preloader-item" src="assets/images/loader/02.gif" alt="Loading">
</div>

<!-- Search START -->
<div class="search-full collapse bg-dark p-3 pb-lg-0" id="search-open">
	<div class="container position-relative">
		<h2 class="position-absolute start-0 bottom-0 mb-n5 display-1 text-white-stroke opacity-1">
			<span class="d-block">Search</span>
		</h2>
		<div class="row vh-100">
			<div class="d-flex flex-column my-auto py-5 w-100">
				<!-- Search form START -->
				<form class="form-dark form-line position-relative w-100">
					<div class="mb-3 input-group-lg input-text-white-stroke mb-0">
						<!-- Search input -->
						<input class="form-control font-heading caret-primary mb-0 pe-6" type="text" name="search" placeholder="What are you looking for?">
						<span class="focus-border"></span>
					</div>
					<!-- Search button -->
					<button type="button" class="position-absolute end-0 top-0 btn pb-3 text-primary-hover h-100">
						<i class="bi bi-search display-8"></i>
					</button>
				</form>
				<!-- Search form END -->
				<p class="small mt-2 mb-0">e.g. Template, Bootstrap, WordPress theme </p>
			</div>

			<!-- Search button close START -->
			<a class="position-fixed top-0 end-0 m-3 m-md-5 btn btn-white btn-round zoom-hover" data-bs-toggle="collapse" href="javascript:void(0)" data-bs-target="#search-open" aria-expanded="true">
				<i class="fas fa-times p-0"></i>
			</a>
			<!-- Search button close END -->
		</div>
	</div>
</div>
<!-- Search END -->

<!-- =======================
Header START -->
<header class="navbar-light header-static navbar-sticky">
	<!-- Logo Nav START -->
	<nav class="navbar navbar-expand-lg">
		<div class="container">
			<!-- Logo START -->
			<a class="navbar-brand" href="index.html">
				<img class="navbar-brand-item" src="assets/images/logo.png" alt="Logo">
			</a>
			<!-- Logo END -->

			<!-- Responsive navbar toggler -->
			<button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			  <span class="navbar-toggler-icon"> </span>
		  </button>

			<!-- Main Menu START -->
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav navbar-nav-scroll navbar-nav-scroll mx-auto">
					<!-- Menu item 1 Back to Back Controversy -->
					<li class="nav-item dropdown">
						<!--	<a class="nav-link dropdown-toggle" href="robert_index_2.html" id="demosMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Back to Back Controversy</a> -->
						<a class="nav-link" href="index_robert_2.html" id="demosMenu" aria-haspopup="true" aria-expanded="false">Back to Back Controversy</a>
					</li>

					<!-- Menu item 2 Schedule Comparison -->
					<li class="nav-item dropdown">
						<!--	<a class="nav-link dropdown-toggle" href="robert_index_2.html" id="demosMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Back to Back Controversy</a> -->
						<a class="nav-link" href="index_robert_2.html" id="demosMenu" aria-haspopup="true" aria-expanded="false">Schedule Comparison</a>
					</li>

					<!-- Menu item 3 Linear Programming Model -->
					<li class="nav-item dropdown">
						<!--	<a class="nav-link dropdown-toggle" href="robert_index_2.html" id="demosMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Back to Back Controversy</a> -->
						<a class="nav-link" href="index_robert_2.html" id="demosMenu" aria-haspopup="true" aria-expanded="false">Linear Programming Model</a>
					</li>

					<!-- Menu item 4 Python Automation -->
					<li class="nav-item dropdown">
						<!--	<a class="nav-link dropdown-toggle" href="robert_index_2.html" id="demosMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Back to Back Controversy</a> -->
						<a class="nav-link" href="index_robert_2.html" id="demosMenu" aria-haspopup="true" aria-expanded="false">Python Automation</a>
					</li>

					<!-- Menu item 5 Implementation -->
					<li class="nav-item dropdown">
						<!--	<a class="nav-link dropdown-toggle" href="robert_index_2.html" id="demosMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Back to Back Controversy</a> -->
						<a class="nav-link" href="index_robert_2.html" id="demosMenu" aria-haspopup="true" aria-expanded="false">Implementation</a>
					</li>

					<!-- Menu item 6 Appendix -->
					<li class="nav-item dropdown">
						<!--	<a class="nav-link dropdown-toggle" href="robert_index_2.html" id="demosMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Back to Back Controversy</a> -->
						<a class="nav-link" href="index_robert_2.html" id="demosMenu" aria-haspopup="true" aria-expanded="false">Appendix</a>
					</li>




				</ul>
			</div>
			<!-- Main Menu END -->

			<!-- Nav right START -->
			<div class="nav flex-nowrap align-items-center">
				<!-- Nav Search Opener-->
				<div class="nav-item">
					<a class="nav-link ms-2" data-bs-toggle="collapse" href="javascript:void(0)" data-bs-target="#search-open">
						<i class="bi bi-search display-9 "> </i>
					</a>
				</div>
				<!-- Nav Button -->
				<div class="nav-item d-none d-xl-block">
					<a href="#" class="btn btn-sm btn-primary mb-0 ms-2">Get Quote!</a>
				</div>
			</div>
			<!-- Nav right END -->
		</div>
	</nav>
	<!-- Logo Nav END -->
</header>
<!-- =======================
Header END -->

<!-- **************** MAIN CONTENT START **************** -->
<main>

<!-- =======================
Inner intro START -->
<section>
	<div class="container">
		<div class="row d-flex justify-content-md-between">

			<!-- Inner intro title -->
		<!--	<div class="col-md-9 col-lg-8"> -->
			<div class="col-md-9 col-lg-12">
				<h1 class="display-5 text-dark-stroke text-primary-shadow">Improvement Number 1: Back to Backs</h1>
				<p class = "lead"> A back to back is when a team plays a game on two consecutive days. For example, the Warriors played a game on April 9th and April 10th in 2021. James Wiseman tore his meniscus in a season ending injury which required the 7ft teenager to undergo season ending surgery. The Warriors had to play without a center for the rest of the season.</p>
				<p class="lead">The graphic below is for the actual NBA schedule from 2018-2019 which is the last full regular season played because of Covid. For the schedule I created, the graphic below
				would not exist, each bar would just display zero.</p>
			</div>

			
		</div> <!-- Row END -->
	</div>
</section>

<section class="pt-0 mt-8 bg-light">
	<div class="container">
		<div class="row">
			<!-- Image -->
			<div class="col-12 mb-5 mb-md-7">
				<img class="img-fluid rounded mt-n8" src="assets/images/bg/back_to_back_team_totals.png" alt="">
			</div>
			
		</div>
	</div>
</section>

<section>
	<div class="container">
		<div class="row d-flex justify-content-md-between">

			<!-- Inner intro title -->
		<!--	<div class="col-md-9 col-lg-8"> -->
			<div class="col-md-9 col-lg-12">
				<h1 class="display-5 text-dark-stroke text-primary-shadow">Improvement Number 2: Total Distance Traveled Decreases by over 570,000 Miles</h1>
				<h3>Equivalent to 23 laps around Earth or 2.1 laps around the planet Jupiter</h3>
				<p class = "lead"> Away teams play home teams in nearby cities, creating efficient routes for teams to follow. Furthermore, The Linear Programming model chooses the most efficient set of road trips to complete the season.</p>
				<p class="lead">Note how every single team travels significantly less in my schedule compared to the actual 2018-2019 season. These calculations were generated automatically using a python script which senses the beginnings and ends of road trips. The script then calculates the distance required to leave home, fly to each city and subsequently fly home again. I made calculations on both the actual season and my own. Please see the Python Automation section for more details.</p>
			</div>

			
		</div> <!-- Row END -->
	</div>
</section>

<section class="pt-0 mt-8 bg-light">
	<div class="container">
		<div class="row">
			<!-- Image -->
			<div class="col-12 mb-5 mb-md-7">
				<img class="img-fluid rounded mt-n8" src="assets/images/bg/distance_comparison_jun_3.png" alt="">
			</div>
			
		</div>
	</div>
</section>


<!-- Custom cursor -->
<div class="cursor-dot-outline"></div>
<div class="cursor-dot"></div>

<!-- Back to top -->
<div class="back-top">
	<div class="scroll-line"></div>
	<span class="scoll-text">Go Up</span>
</div>

<!-- =======================
JS libraries, plugins and custom scripts -->

<!-- Bootstrap JS -->
<script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<!-- Vendors -->
<script src="assets/vendor/glightbox/js/glightbox.js"></script>
<script src="assets/vendor/purecounterjs/dist/purecounter_vanilla.js"></script>
<script src="assets/vendor/jarallax/jarallax.min.js"></script>

<!-- Template Functions -->
<script src="assets/js/functions.js"></script>

</body>
</html>